/* 가장 바깥 메인 헤더 */
.main_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: var(--main-content-color-trans8);
  z-index: 5;
}

/* 로고 */
.header_logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

/* 메뉴 우측 */
.header_menu {
  margin-right: 2rem;
  list-style: none;
  display: flex;
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 1rem;
}

/* 메뉴 각각 */
.header_menu li {
  display: flex;
  align-items: center;
  margin: 0 2rem;
  transition: all 100ms ease-out;
}

.header_menu li:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.02);
}
