/* 가장 바깥 메인 헤더 */
.main_header {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  padding-top: 2rem;
  margin-bottom: 10rem;
  z-index: 10;
}

.main_header hr {
  margin: 2rem;
  width: 80%;
}

/* 로고Div (Link) */
.header_logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  text-decoration: none;
  color: inherit;
  transition: all 200ms ease-out;
  border: 1px solid;
  width: 13rem;
  margin-bottom: 5rem;
}

.header_logo:hover {
  transform: scale(1.03);
}

/* 메뉴 우측 */
.header_menu {
  margin-right: 2rem;
  list-style: none;
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 1rem;
}

/* 메뉴 각각 */
.header_menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  border: 1px solid;
  transition: all 100ms ease-out;
}

.header_menu li:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0);
  background: linear-gradient(
    to left,
    rgb(0, 204, 255),
    rgb(0, 26, 255),
    rgb(212, 9, 227)
  );
  -webkit-background-clip: text;
  background-clip: text;
}

/* 메뉴 안의 버튼 */
.header_menu a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  width: 5rem;
  height: 3rem;
  margin: 1.5rem 0 1rem 15%;
}
