/* 메인 푸터 */
.main_footer {
  width: 100%;
  min-height: 17rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-background-color);
  color: white;
}

/* 로고 */
.footer_logo {
  display: flex;
  align-items: flex-start;
  margin-left: 10%;
  margin-top: 3rem;
}

/* 메뉴 우측 */
.footer_menu {
  margin-right: 2rem;
  list-style: none;
  display: flex;
  font-weight: 600;
  font-size: 1rem;
}

/* 메뉴 우측 각각 div */
.footer_menu ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 15rem;
  list-style: none;
  padding: 0;
}

.footer_menu ul h3 {
  font-size: 1.3rem;
}

/* 메뉴 우측 각각 div 안의 항목 */
.footer_menu ul li {
  margin: 0.5rem;
  color: wheat;
}

.footer_menu ul li:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.02);
}

/* Link Tag */
.footer_menu ul li a {
  margin: 0.5rem;
  color: wheat;
  text-decoration: none;
}

@media (max-width: 900px) {
  .main_footer {
    flex-direction: column;
  }
  /* 메뉴 우측 */
  .footer_menu {
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
  }
}
