/* 가장 바깥 메인 헤더 */
.main_header {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 32rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-bottom: 10rem;
  border-bottom-left-radius: 20px;
  box-shadow: 2px 2px 5px rgba(45, 45, 45, 0.607);
  z-index: 10;
  animation: toLeft 700ms ease-in-out;
}

/* 회색 칸막이 */
.main_header hr {
  margin: 2rem;
  width: 80%;
}

/* 로고와 닫기버튼 이 있는 DIv */
.logo_and_X {
  display: flex;
  justify-content: space-between;
}

/* X버튼 */
.header_X {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-right: 15%;
  width: 3rem;
  height: 3rem;
  transition: all 250ms ease-out;
}

.header_X:hover {
  transform: rotate(12deg) scale(1.03);
  cursor: pointer;
}

/* 로고Div (Link) */
.header_logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  text-decoration: none;
  color: inherit;
  transition: all 200ms ease-out;
  width: 13rem;
}

.header_logo:hover {
  transform: scale(1.03);
}

/* 메뉴 우측 */
.header_menu {
  margin-right: 2rem;
  list-style: none;
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 1rem;
}

/* 메뉴 각각 */
.header_menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  transition: all 100ms ease-out;
}

.header_menu li:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0);
  background: linear-gradient(
    to left,
    rgb(0, 204, 255),
    rgb(0, 26, 255),
    rgb(212, 9, 227)
  );
  -webkit-background-clip: text;
  background-clip: text;
}

/* 메뉴 안의 버튼 */
.header_menu a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  width: 5rem;
  height: 3rem;
  margin: 1.5rem 0 1rem 15%;
}

@keyframes toLeft {
  0% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0);
  }
}
