/* 메인 카드 */
.main_card {
  margin-top: 5rem;
  text-align: center;
}

/* 메인 카드 타이틀의 글자 */
.title_div p {
  font-size: 2rem;
}

/* 설명칸 전체 */
.main_desc_div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* 설명칸 텍스트칸 Div */
.main_desc_text_ul {
  width: 60%;
  list-style: none;
  text-align: left;
  padding: 2rem;
}

.main_desc_text_ul li {
  margin: 1rem;
  text-align: center;
}

/* 설명칸 이미지칸 */
.main_desc_img_div {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
}

/* 설명칸 이미지칸 안의 이미지 */
.main_desc_img_div img {
  width: 85%;
  height: 30rem;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  /* 메인 카드 */
  .main_card {
    margin-top: 3rem;
  }
  /* 설명칸 전체 */
  .main_desc_div {
    width: 100%;
    flex-direction: column;
  }

  /* 설명칸 텍스트칸 Div */
  .main_desc_text_ul {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }

  /* 설명칸 이미지칸 */
  .main_desc_img_div {
    padding: 0;
  }
  /* 설명칸 이미지칸 안의 이미지 */
  .main_desc_img_div img {
    width: 95%;
    height: 20rem;
    margin: 0 auto;
    object-fit: cover;
  }
}
