/* 메인페이지 메인섹션3 전체 */
.main_div {
  width: 70%;
  margin: 0 auto 0 auto;
  margin-top: -12rem;
  padding: 5rem 0;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  padding-bottom: 20rem;
}

/* 체중 조절이 걱정이시다면 */
.how_to_workout_textP {
  font-size: 2rem;
}
/* Do-Health 가 도와드리겠습니다 */
.how_to_workout_textH {
  font-size: 3rem;
}

.how_to_workout_textH span {
  font-size: 2rem;
  font-weight: 400;
}
/* 설명란 */
.how_to_workout_desc {
  font-size: 1.5rem;
}
.how_to_workout_desc span {
  font-weight: 600;
}

/* 아래 예시 이미지 전체 */
.how_to_workout_image_section {
  margin: 2rem auto;
  width: 70%;
  max-width: 60rem;
  height: 50rem;
  border-radius: 40px;
  background-color: var(--main-background-color-trans8);
  display: flex;
  justify-content: space-between;
}

/* 이미지 설명 텍스트 */
.how_to_workout_text_div {
  color: var(--main-content-color);
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* 이미지 설명 텍스트 타이틀 */
.how_to_workout_text_div_title h1 {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  margin-left: 2rem;
}

/* 이미지 설명 텍스트 작은글씨들 */
.how_to_workout_text_div_desc p {
  font-weight: 300;
}

/* 예시 이미지 Div*/
.how_to_workout_image_div {
  margin: auto 0;
}

.how_to_workout_image_div img {
  margin-right: 1.5rem;
  width: 30rem;
  height: 40rem;
  border-radius: 40px;
}
