@import url("https://fonts.googleapis.com/css2?family=Hahmlet&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
html {
  box-sizing: border-box;
  --main-background-color: rgb(29, 29, 75);
  --main-background-color-trans8: rgba(29, 29, 75, 0.8);
  --main-background-color-more-blue: rgb(9, 9, 124);
  --main-background-color-more-blue-trans8: rgba(11, 11, 114, 0.8);

  --main-content-color: rgba(255, 252, 241);
  --main-content-color-trans8: rgba(255, 252, 241, 0.8);
  --main-content-color-trans6: rgba(255, 252, 241, 0.6);
  --main-content-color-trans4: rgba(255, 252, 241, 0.4);
  --main-content-color-trans2: rgba(255, 252, 241, 0.2);

  --main-text-color: rgb(22, 22, 60);

  --section-desc-img-background-color-trans8: rgba(56, 56, 148, 0.8);

  --section2-background-color-trans8: rgba(56, 56, 148, 0.8);
  --section3-background-color: rgba(255, 252, 241);
  --section3-background-color-trans8: rgba(255, 252, 241, 0.8);

  --footer-background-color: gray;

  --do-parts-decription-main-background-color: rgb(255, 85, 0);

  --loss-weight-parts-intro-background-color: rgb(39, 132, 110);
  --loss-weight-parts-intro-background-color-dark: rgb(21, 70, 59);
  --loss-weight-parts-intro-background-color-lighter: rgb(48, 160, 134);
  --loss-weight-parts-intro-background-color-lighter-trans8: rgb(
    48,
    160,
    134,
    0.8
  );
  --loss-weight-parts-intro-gray-color: rgb(70, 70, 70);

  --find-foods-parts-background-color: rgb(131, 131, 251);
  --find-foods-parts-background-color-dark: rgb(60, 60, 117);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans KR", "Hahmlet", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 기본 버튼들 */

.White_Button {
  border: none;
  width: 14rem;
  height: 4rem;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.594);
  transition: all 100ms ease-out;
}
.White_Button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.White_Button:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.02);
}

.Blue_Button {
  border: none;
  width: 14rem;
  height: 4rem;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.842);
  background-color: var(--main-text-color);
  color: var(--main-content-color);
  transition: all 100ms ease-out;
}
.Blue_Button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.Blue_Button:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.02);
}

.Just_Click_Button_Default {
  width: 14rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 3px rgb(100, 100, 100);
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 100ms ease-out;
}

.Just_Click_Button_Default:hover {
  cursor: pointer;
  background-color: var(--loss-weight-parts-intro-background-color-lighter);
  color: white;
  transform: scale(1.02);
  box-shadow: 4px 4px 5px rgb(62, 62, 62);
}

/*  애니메이션  */

.animate__animated.animate__bounce {
  --animate-delay: 0.1s;
  --animate-duration: 700ms;
}

/* 크로스 라인  Green */
.cross_line_green {
  position: relative;
  background-color: var(--loss-weight-parts-intro-background-color);
  height: 3rem;
  margin: 1.5rem 0;
  border: none;
  z-index: 2;
  opacity: 0.8;
}

/* 크로스 라인  Green-Dark */
.cross_line_green {
  position: relative;
  background-color: var(--loss-weight-parts-intro-background-color-dark);
  height: 4.5rem;
  margin: 1.5rem 0;
  border: none;
  z-index: 2;
}

/* 크로스 라인  Green-rotate */
.cross_line_green_rotate {
  position: relative;
  background-color: var(--loss-weight-parts-intro-background-color);
  height: 3rem;
  margin: 1.5rem 0;
  border: none;
  z-index: 2;
  opacity: 0.8;
  transform: rotate(-5deg);
  width: 110%;
  margin-left: -2rem;
}

/* 크로스 라인  Purple-thick */
.cross_line_purple_thick {
  position: relative;
  background-color: var(--find-foods-parts-background-color-dark);
  height: 5rem;
  margin: 0;
  border: none;
  z-index: 2;
}

/* 크로스 라인  Gray-normal */

.cross_line_gray_normal {
  width: 95%;
  border: none;
  border-bottom: 1px solid;
  box-shadow: 1px 1px 1px rgb(106, 106, 106);
  opacity: 0.5;
  padding: 0;
  margin: 0 auto;
}
